:root{
    --main-color:black;
    --border:.1rem solid rgba(255,255,255,.3);
}
*{
    font-family: 'Franklin Gothic Medium';
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .5 linear;
}
html{
    font-size: 65%;
    overflow-x:hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}
html ::-webkit-scrollbar{
    width: .8rem;
}
html ::-webkit-scrollbar-track{
    background:rgb(255, 255, 255);
}
html ::-webkit-scrollbar-thumb{
    background: rgb(255, 255, 255);
    border-radius: 5rem;
}
body{
    background:rgb(0, 0, 0);
}
section{
    padding: 2rem 7%;
}
.heading{
    text-align: center;
    color: rgb(248, 250, 185);
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}
.heading span{
    color: #4d4747;
    text-transform: uppercase;
}
.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 2rem;
    color: #292929;
    background: rgb(248, 250, 185);
    cursor: pointer;
    border-radius: 1rem;
}
.btn:hover{
    letter-spacing: .2rem;
    background: rgb(248, 250, 185);
    transition: .5s ease;
}
.header{
    background:rgb(248, 250, 185);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: 1rem solid rgba(255, 255, 255, 0);
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    color: #000000;
}
.header .Logo{
    height: 9rem;
    max-width: 100%;
    height: auto;
    display: block;
    font-size: 50px;
    border-radius: 1rem;
    color: #000000;
} 
.header .navbar a{
    align-items: center;
margin: 0 1rem;
color: black;
font-size: 1.6rem;
}
.header .navbar a:hover{
    border-bottom: var(--border);
    padding-bottom: .5rem;
    transition: .8s ease;
}
.header .icons div{
    color: rgb(66, 66, 66);
    cursor: pointer;
    font-size: 2rem;
    margin-left: 1rem;
}
.header .icons div:hover{
    color: #ffffff;
    transition: .5s ease;
}
#menu-btn{
    display: none;
}
.header .search-form{
    position: absolute;
    top: 115%;right: 7%;
    background: rgba(248, 250, 185, 0.24);
    width: 50rem;
    height: 6rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
    border-radius: 1rem;
}
.header .search-form.active{
     transform: scaleY(1);
}
.header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--main-color);
    padding: 1rem;
    text-transform: none;
    background: rgba(0, 0, 0, 0.185);
}
.header .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1rem;
    color: var(--black);
}
.header .cart-items-container{
    position: absolute;
    top: 100%; right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background: rgba(117, 117, 117, 0.37);
    padding: 0 1.5rem;
    border-radius: 1rem;
}
.header .cart-items-container.active{
    right: 0;
}
.header .cart-items-container .cart-item{
    position: relative;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.header .cart-items-container .cart-item .fa-times{
    position: absolute;
    top: 1rem; right: 1rem;
    font-size: 2rem;
    cursor: pointer
    var(--main-color);
}
.header .cart-items-container .cart-item .fa-times:hover{
    color:rgb(248, 250, 185);
}
.header .cart-items-container .cart-item img{
    height: 7rem;
}
.header .cart-items-container .cart-item h3{
    font-size: 2rem;
    color: black;
    padding-bottom: .5rem;
}
.header .cart-items-container .cart-item .Precio{
    font-size: 1.5rem;
    color: rgb(248, 250, 185);
}
.header .cart-items-container .btn{
    width: 100%;
    text-align: center;
}
.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(img/MESA4.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.home .content{
    max-width: 60rem;
}

.home .content h3{
    font-size: 6rem;
    text-transform: uppercase;
    color: white;
}
.home .content p{
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem;
    color: white;
}
.about .row{
    display: flex;
    align-items: center;
    background: rgb(255, 255, 255);
    flex-wrap: wrap;
}
.about .row .image{
    flex: 1 1 45rem;
}
.about .row .image img{
    width: 100%;
}
.about .row .content{
    flex: 1 1 45rem;
    padding: 2.rem;

}
.about .row .content h3{
    font-size: 3rem;
    color: black;
}
.about .row .content p{
    font-size: 1.5rem;
    color: black;
    padding: 1rem;
    line-height: 1.8;

}
.menu .box-container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    gap: 2rem;
}
.menu .box-container .box{
    width: 40rem;
    height: 70rem;
    padding: 10rem;
    text-align:center;
    border: var(--border);
     border-radius: 2rem;
}
.menu .box-container .box img{
    height: 10rem;
}
.menu .box-container .box h3{
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
    padding: 5rem 0;
   ;
}
.menu .box-container .box .Precio{
    color: rgb(248, 250, 185);
    font-size: 2rem;
    padding: 1rem 0;
}
.menu .box-container .box .Precio span{
    color: rgb(255, 0, 0);
    font-size: 1.5rem;
    text-decoration: line-through;
}
.menu .box-container .box:hover{
    background: rgb(248, 250, 185);
    transition: .8s ease;
}

.menu .box-container .box:hover > *{
    color: var(--main-color);
}
.products .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    gap: 2rem;
}

.products .box-container .box{
    text-align: center;
    border: var(--border);
    padding: 2rem;
    border-radius: .5rem;
}
.products .box-container .box:hover{
background: #292929;
transition: .7s ease;
}

.products .box-container .box .icons a{
height: 5rem;
width: 5rem;
line-height: 5rem;
font-size: 2rem;
border: var(--border);
color:rgb(248, 250, 185) ;
margin: .3rem;
}
.products .box-container .box .icons a:hover{
    background: #292929;
}

.products .box-container .box .image{
    padding: 2.5rem 0;
}

.products .box-container .box .image img{
    height: 25rem;
}

.products .box-container .box .content h3{
    color: white;
    font-size: 2.5rem;

}

.products .box-container .box .content .stars{
padding: 1.5rem;
}
.products .box-container .box .content .stars i{
    font-size: 1.7rem;
    color:rgb(248, 250, 185) ;
}

.products .box-container .box .content .Precio{
    color:rgb(248, 250, 185) ;
    font-size: 2.5rem;
}

.products .box-container .box .content .Precio span{
    text-decoration: line-through;
    font-weight: lighter;
    font-size: 1.5rem;
    color: red;
}
.review .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    gap: 2rem;
}
.review .box-container .box{
    text-align: center;
    border: var(--border);
    padding:3rem 2rem;
    border-radius: .5rem;
}

.review .box-container .box p{
font-size: 1.7rem;
line-height: 1.8;
color:white;
padding: 2rem 0;
}
.review .box-container .box .user{
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    object-fit: cover;
}
.review .box-container .box h3{
    padding: 1rem 0;
    font-size: 2rem;
    color: white;
}
.review .box-container .box .stars i{
    font-size: 1.5rem;
    color: white;
}
.review .box-container .box .quote{
    height: 10rem;
    width: 10rem;
    object-fit: cover;
}
.Contact .linea{
    display: flex;
    background: #000000;
    flex-wrap: wrap;
    gap: 1rem;
}
.Contact .linea .Map{
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
    border-radius: .5rem;
}
.Contact .linea form{
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}
.Contact .linea form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color: white;
}
.Contact .linea form .InputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: #000000;
    border: var(--border);
}
.Contact .linea form .InputBox span{
    color: white;
    font-size: 2rem;
    padding-left: 2rem;
}
.Contact .linea form .InputBox input{
    width: 100%;
    padding: 2rem;
    font-size: 1.5rem;
    color: white;
    text-transform: none;
    background: none;
}
.footer{
    background: black;
    text-align: center;
}
.footer .share{
    padding: 1rem 0;
}
.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #292929;
    border-radius: 50%;
 
}
.footer .share a:hover{
    background:rgb(248, 250, 185) ;
}
.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
}
.footer .links a{
    padding: .7rem 2rem;
    color: white;
    border: var(--border);
    font-size: 2rem;
}
.footer .links a:hover{
    background: #292929;
}
.footer .credit{
    font-size: 2rem;
    color: white;
    font-weight: lighter;
    padding: 1.5rem;
}
.footer .credit span{
    color:rgb(248, 250, 185) ;
}








@media(max-width:991px){
    html{
        font-size: 55%;
    }
    .header{
         padding: 1.5rem 2rem;
    }
    section{
    padding: 2rem;
}
}
@media(max-width:768px){
   #menu-btn{
    display: inline;
   }
   .header .navbar{
    position: absolute;
    top: 100%; right: -100%;
    background: rgba(0, 0, 0, 0.11);
    width:30rem;
    height: calc(100vh - 9.5rem);
    border-radius: 3rem;
   }
   .header .navbar.active{
    right: 0;
   }
}
.header .navbar a{
    color: #000000;
    margin: 1.5rem;
    padding:.5;
    font-size: 2rem;
}
.header .search-form{
    width: 90%;
    right: 2rem;
}
.home{
    background-position: left;
    justify-content: center;
    text-align: center;
}
.home .content h3{
    font-size: 4.5rem;
}
.home .content p{
    font-size: 1.5rem;
}
@media(max-width:450px){
    html{
        font-size: 50%;
    }
}
